/**
 * Thomas Simpson
 * This is totally free software. Have fun.
 * 
 * Produces ratio-based css classes that can be used to get fixed sizes.
 */
.ratio-wrapper, .ratio-wrapper-1-1, .ratio-wrapper-1-2, .ratio-wrapper-1-3, .ratio-wrapper-1-4, .ratio-wrapper-1-5, .ratio-wrapper-1-6, .ratio-wrapper-1-7, .ratio-wrapper-1-8, .ratio-wrapper-1-9, .ratio-wrapper-1-10, .ratio-wrapper-1-11, .ratio-wrapper-1-12, .ratio-wrapper-1-13, .ratio-wrapper-1-14, .ratio-wrapper-1-15, .ratio-wrapper-2-1, .ratio-wrapper-2-2, .ratio-wrapper-2-3, .ratio-wrapper-2-4, .ratio-wrapper-2-5, .ratio-wrapper-2-6, .ratio-wrapper-2-7, .ratio-wrapper-2-8, .ratio-wrapper-2-9, .ratio-wrapper-2-10, .ratio-wrapper-2-11, .ratio-wrapper-2-12, .ratio-wrapper-2-13, .ratio-wrapper-2-14, .ratio-wrapper-2-15, .ratio-wrapper-3-1, .ratio-wrapper-3-2, .ratio-wrapper-3-3, .ratio-wrapper-3-4, .ratio-wrapper-3-5, .ratio-wrapper-3-6, .ratio-wrapper-3-7, .ratio-wrapper-3-8, .ratio-wrapper-3-9, .ratio-wrapper-3-10, .ratio-wrapper-3-11, .ratio-wrapper-3-12, .ratio-wrapper-3-13, .ratio-wrapper-3-14, .ratio-wrapper-3-15, .ratio-wrapper-4-1, .ratio-wrapper-4-2, .ratio-wrapper-4-3, .ratio-wrapper-4-4, .ratio-wrapper-4-5, .ratio-wrapper-4-6, .ratio-wrapper-4-7, .ratio-wrapper-4-8, .ratio-wrapper-4-9, .ratio-wrapper-4-10, .ratio-wrapper-4-11, .ratio-wrapper-4-12, .ratio-wrapper-4-13, .ratio-wrapper-4-14, .ratio-wrapper-4-15, .ratio-wrapper-5-1, .ratio-wrapper-5-2, .ratio-wrapper-5-3, .ratio-wrapper-5-4, .ratio-wrapper-5-5, .ratio-wrapper-5-6, .ratio-wrapper-5-7, .ratio-wrapper-5-8, .ratio-wrapper-5-9, .ratio-wrapper-5-10, .ratio-wrapper-5-11, .ratio-wrapper-5-12, .ratio-wrapper-5-13, .ratio-wrapper-5-14, .ratio-wrapper-5-15, .ratio-wrapper-6-1, .ratio-wrapper-6-2, .ratio-wrapper-6-3, .ratio-wrapper-6-4, .ratio-wrapper-6-5, .ratio-wrapper-6-6, .ratio-wrapper-6-7, .ratio-wrapper-6-8, .ratio-wrapper-6-9, .ratio-wrapper-6-10, .ratio-wrapper-6-11, .ratio-wrapper-6-12, .ratio-wrapper-6-13, .ratio-wrapper-6-14, .ratio-wrapper-6-15, .ratio-wrapper-7-1, .ratio-wrapper-7-2, .ratio-wrapper-7-3, .ratio-wrapper-7-4, .ratio-wrapper-7-5, .ratio-wrapper-7-6, .ratio-wrapper-7-7, .ratio-wrapper-7-8, .ratio-wrapper-7-9, .ratio-wrapper-7-10, .ratio-wrapper-7-11, .ratio-wrapper-7-12, .ratio-wrapper-7-13, .ratio-wrapper-7-14, .ratio-wrapper-7-15, .ratio-wrapper-8-1, .ratio-wrapper-8-2, .ratio-wrapper-8-3, .ratio-wrapper-8-4, .ratio-wrapper-8-5, .ratio-wrapper-8-6, .ratio-wrapper-8-7, .ratio-wrapper-8-8, .ratio-wrapper-8-9, .ratio-wrapper-8-10, .ratio-wrapper-8-11, .ratio-wrapper-8-12, .ratio-wrapper-8-13, .ratio-wrapper-8-14, .ratio-wrapper-8-15, .ratio-wrapper-9-1, .ratio-wrapper-9-2, .ratio-wrapper-9-3, .ratio-wrapper-9-4, .ratio-wrapper-9-5, .ratio-wrapper-9-6, .ratio-wrapper-9-7, .ratio-wrapper-9-8, .ratio-wrapper-9-9, .ratio-wrapper-9-10, .ratio-wrapper-9-11, .ratio-wrapper-9-12, .ratio-wrapper-9-13, .ratio-wrapper-9-14, .ratio-wrapper-9-15, .ratio-wrapper-10-1, .ratio-wrapper-10-2, .ratio-wrapper-10-3, .ratio-wrapper-10-4, .ratio-wrapper-10-5, .ratio-wrapper-10-6, .ratio-wrapper-10-7, .ratio-wrapper-10-8, .ratio-wrapper-10-9, .ratio-wrapper-10-10, .ratio-wrapper-10-11, .ratio-wrapper-10-12, .ratio-wrapper-10-13, .ratio-wrapper-10-14, .ratio-wrapper-10-15, .ratio-wrapper-11-1, .ratio-wrapper-11-2, .ratio-wrapper-11-3, .ratio-wrapper-11-4, .ratio-wrapper-11-5, .ratio-wrapper-11-6, .ratio-wrapper-11-7, .ratio-wrapper-11-8, .ratio-wrapper-11-9, .ratio-wrapper-11-10, .ratio-wrapper-11-11, .ratio-wrapper-11-12, .ratio-wrapper-11-13, .ratio-wrapper-11-14, .ratio-wrapper-11-15, .ratio-wrapper-12-1, .ratio-wrapper-12-2, .ratio-wrapper-12-3, .ratio-wrapper-12-4, .ratio-wrapper-12-5, .ratio-wrapper-12-6, .ratio-wrapper-12-7, .ratio-wrapper-12-8, .ratio-wrapper-12-9, .ratio-wrapper-12-10, .ratio-wrapper-12-11, .ratio-wrapper-12-12, .ratio-wrapper-12-13, .ratio-wrapper-12-14, .ratio-wrapper-12-15, .ratio-wrapper-13-1, .ratio-wrapper-13-2, .ratio-wrapper-13-3, .ratio-wrapper-13-4, .ratio-wrapper-13-5, .ratio-wrapper-13-6, .ratio-wrapper-13-7, .ratio-wrapper-13-8, .ratio-wrapper-13-9, .ratio-wrapper-13-10, .ratio-wrapper-13-11, .ratio-wrapper-13-12, .ratio-wrapper-13-13, .ratio-wrapper-13-14, .ratio-wrapper-13-15, .ratio-wrapper-14-1, .ratio-wrapper-14-2, .ratio-wrapper-14-3, .ratio-wrapper-14-4, .ratio-wrapper-14-5, .ratio-wrapper-14-6, .ratio-wrapper-14-7, .ratio-wrapper-14-8, .ratio-wrapper-14-9, .ratio-wrapper-14-10, .ratio-wrapper-14-11, .ratio-wrapper-14-12, .ratio-wrapper-14-13, .ratio-wrapper-14-14, .ratio-wrapper-14-15, .ratio-wrapper-15-1, .ratio-wrapper-15-2, .ratio-wrapper-15-3, .ratio-wrapper-15-4, .ratio-wrapper-15-5, .ratio-wrapper-15-6, .ratio-wrapper-15-7, .ratio-wrapper-15-8, .ratio-wrapper-15-9, .ratio-wrapper-15-10, .ratio-wrapper-15-11, .ratio-wrapper-15-12, .ratio-wrapper-15-13, .ratio-wrapper-15-14, .ratio-wrapper-15-15 {
  width: 100%;
  position: relative; }
  .ratio-wrapper .ratio-wrapper-inner, .ratio-wrapper-1-1 .ratio-wrapper-inner, .ratio-wrapper-1-2 .ratio-wrapper-inner, .ratio-wrapper-1-3 .ratio-wrapper-inner, .ratio-wrapper-1-4 .ratio-wrapper-inner, .ratio-wrapper-1-5 .ratio-wrapper-inner, .ratio-wrapper-1-6 .ratio-wrapper-inner, .ratio-wrapper-1-7 .ratio-wrapper-inner, .ratio-wrapper-1-8 .ratio-wrapper-inner, .ratio-wrapper-1-9 .ratio-wrapper-inner, .ratio-wrapper-1-10 .ratio-wrapper-inner, .ratio-wrapper-1-11 .ratio-wrapper-inner, .ratio-wrapper-1-12 .ratio-wrapper-inner, .ratio-wrapper-1-13 .ratio-wrapper-inner, .ratio-wrapper-1-14 .ratio-wrapper-inner, .ratio-wrapper-1-15 .ratio-wrapper-inner, .ratio-wrapper-2-1 .ratio-wrapper-inner, .ratio-wrapper-2-2 .ratio-wrapper-inner, .ratio-wrapper-2-3 .ratio-wrapper-inner, .ratio-wrapper-2-4 .ratio-wrapper-inner, .ratio-wrapper-2-5 .ratio-wrapper-inner, .ratio-wrapper-2-6 .ratio-wrapper-inner, .ratio-wrapper-2-7 .ratio-wrapper-inner, .ratio-wrapper-2-8 .ratio-wrapper-inner, .ratio-wrapper-2-9 .ratio-wrapper-inner, .ratio-wrapper-2-10 .ratio-wrapper-inner, .ratio-wrapper-2-11 .ratio-wrapper-inner, .ratio-wrapper-2-12 .ratio-wrapper-inner, .ratio-wrapper-2-13 .ratio-wrapper-inner, .ratio-wrapper-2-14 .ratio-wrapper-inner, .ratio-wrapper-2-15 .ratio-wrapper-inner, .ratio-wrapper-3-1 .ratio-wrapper-inner, .ratio-wrapper-3-2 .ratio-wrapper-inner, .ratio-wrapper-3-3 .ratio-wrapper-inner, .ratio-wrapper-3-4 .ratio-wrapper-inner, .ratio-wrapper-3-5 .ratio-wrapper-inner, .ratio-wrapper-3-6 .ratio-wrapper-inner, .ratio-wrapper-3-7 .ratio-wrapper-inner, .ratio-wrapper-3-8 .ratio-wrapper-inner, .ratio-wrapper-3-9 .ratio-wrapper-inner, .ratio-wrapper-3-10 .ratio-wrapper-inner, .ratio-wrapper-3-11 .ratio-wrapper-inner, .ratio-wrapper-3-12 .ratio-wrapper-inner, .ratio-wrapper-3-13 .ratio-wrapper-inner, .ratio-wrapper-3-14 .ratio-wrapper-inner, .ratio-wrapper-3-15 .ratio-wrapper-inner, .ratio-wrapper-4-1 .ratio-wrapper-inner, .ratio-wrapper-4-2 .ratio-wrapper-inner, .ratio-wrapper-4-3 .ratio-wrapper-inner, .ratio-wrapper-4-4 .ratio-wrapper-inner, .ratio-wrapper-4-5 .ratio-wrapper-inner, .ratio-wrapper-4-6 .ratio-wrapper-inner, .ratio-wrapper-4-7 .ratio-wrapper-inner, .ratio-wrapper-4-8 .ratio-wrapper-inner, .ratio-wrapper-4-9 .ratio-wrapper-inner, .ratio-wrapper-4-10 .ratio-wrapper-inner, .ratio-wrapper-4-11 .ratio-wrapper-inner, .ratio-wrapper-4-12 .ratio-wrapper-inner, .ratio-wrapper-4-13 .ratio-wrapper-inner, .ratio-wrapper-4-14 .ratio-wrapper-inner, .ratio-wrapper-4-15 .ratio-wrapper-inner, .ratio-wrapper-5-1 .ratio-wrapper-inner, .ratio-wrapper-5-2 .ratio-wrapper-inner, .ratio-wrapper-5-3 .ratio-wrapper-inner, .ratio-wrapper-5-4 .ratio-wrapper-inner, .ratio-wrapper-5-5 .ratio-wrapper-inner, .ratio-wrapper-5-6 .ratio-wrapper-inner, .ratio-wrapper-5-7 .ratio-wrapper-inner, .ratio-wrapper-5-8 .ratio-wrapper-inner, .ratio-wrapper-5-9 .ratio-wrapper-inner, .ratio-wrapper-5-10 .ratio-wrapper-inner, .ratio-wrapper-5-11 .ratio-wrapper-inner, .ratio-wrapper-5-12 .ratio-wrapper-inner, .ratio-wrapper-5-13 .ratio-wrapper-inner, .ratio-wrapper-5-14 .ratio-wrapper-inner, .ratio-wrapper-5-15 .ratio-wrapper-inner, .ratio-wrapper-6-1 .ratio-wrapper-inner, .ratio-wrapper-6-2 .ratio-wrapper-inner, .ratio-wrapper-6-3 .ratio-wrapper-inner, .ratio-wrapper-6-4 .ratio-wrapper-inner, .ratio-wrapper-6-5 .ratio-wrapper-inner, .ratio-wrapper-6-6 .ratio-wrapper-inner, .ratio-wrapper-6-7 .ratio-wrapper-inner, .ratio-wrapper-6-8 .ratio-wrapper-inner, .ratio-wrapper-6-9 .ratio-wrapper-inner, .ratio-wrapper-6-10 .ratio-wrapper-inner, .ratio-wrapper-6-11 .ratio-wrapper-inner, .ratio-wrapper-6-12 .ratio-wrapper-inner, .ratio-wrapper-6-13 .ratio-wrapper-inner, .ratio-wrapper-6-14 .ratio-wrapper-inner, .ratio-wrapper-6-15 .ratio-wrapper-inner, .ratio-wrapper-7-1 .ratio-wrapper-inner, .ratio-wrapper-7-2 .ratio-wrapper-inner, .ratio-wrapper-7-3 .ratio-wrapper-inner, .ratio-wrapper-7-4 .ratio-wrapper-inner, .ratio-wrapper-7-5 .ratio-wrapper-inner, .ratio-wrapper-7-6 .ratio-wrapper-inner, .ratio-wrapper-7-7 .ratio-wrapper-inner, .ratio-wrapper-7-8 .ratio-wrapper-inner, .ratio-wrapper-7-9 .ratio-wrapper-inner, .ratio-wrapper-7-10 .ratio-wrapper-inner, .ratio-wrapper-7-11 .ratio-wrapper-inner, .ratio-wrapper-7-12 .ratio-wrapper-inner, .ratio-wrapper-7-13 .ratio-wrapper-inner, .ratio-wrapper-7-14 .ratio-wrapper-inner, .ratio-wrapper-7-15 .ratio-wrapper-inner, .ratio-wrapper-8-1 .ratio-wrapper-inner, .ratio-wrapper-8-2 .ratio-wrapper-inner, .ratio-wrapper-8-3 .ratio-wrapper-inner, .ratio-wrapper-8-4 .ratio-wrapper-inner, .ratio-wrapper-8-5 .ratio-wrapper-inner, .ratio-wrapper-8-6 .ratio-wrapper-inner, .ratio-wrapper-8-7 .ratio-wrapper-inner, .ratio-wrapper-8-8 .ratio-wrapper-inner, .ratio-wrapper-8-9 .ratio-wrapper-inner, .ratio-wrapper-8-10 .ratio-wrapper-inner, .ratio-wrapper-8-11 .ratio-wrapper-inner, .ratio-wrapper-8-12 .ratio-wrapper-inner, .ratio-wrapper-8-13 .ratio-wrapper-inner, .ratio-wrapper-8-14 .ratio-wrapper-inner, .ratio-wrapper-8-15 .ratio-wrapper-inner, .ratio-wrapper-9-1 .ratio-wrapper-inner, .ratio-wrapper-9-2 .ratio-wrapper-inner, .ratio-wrapper-9-3 .ratio-wrapper-inner, .ratio-wrapper-9-4 .ratio-wrapper-inner, .ratio-wrapper-9-5 .ratio-wrapper-inner, .ratio-wrapper-9-6 .ratio-wrapper-inner, .ratio-wrapper-9-7 .ratio-wrapper-inner, .ratio-wrapper-9-8 .ratio-wrapper-inner, .ratio-wrapper-9-9 .ratio-wrapper-inner, .ratio-wrapper-9-10 .ratio-wrapper-inner, .ratio-wrapper-9-11 .ratio-wrapper-inner, .ratio-wrapper-9-12 .ratio-wrapper-inner, .ratio-wrapper-9-13 .ratio-wrapper-inner, .ratio-wrapper-9-14 .ratio-wrapper-inner, .ratio-wrapper-9-15 .ratio-wrapper-inner, .ratio-wrapper-10-1 .ratio-wrapper-inner, .ratio-wrapper-10-2 .ratio-wrapper-inner, .ratio-wrapper-10-3 .ratio-wrapper-inner, .ratio-wrapper-10-4 .ratio-wrapper-inner, .ratio-wrapper-10-5 .ratio-wrapper-inner, .ratio-wrapper-10-6 .ratio-wrapper-inner, .ratio-wrapper-10-7 .ratio-wrapper-inner, .ratio-wrapper-10-8 .ratio-wrapper-inner, .ratio-wrapper-10-9 .ratio-wrapper-inner, .ratio-wrapper-10-10 .ratio-wrapper-inner, .ratio-wrapper-10-11 .ratio-wrapper-inner, .ratio-wrapper-10-12 .ratio-wrapper-inner, .ratio-wrapper-10-13 .ratio-wrapper-inner, .ratio-wrapper-10-14 .ratio-wrapper-inner, .ratio-wrapper-10-15 .ratio-wrapper-inner, .ratio-wrapper-11-1 .ratio-wrapper-inner, .ratio-wrapper-11-2 .ratio-wrapper-inner, .ratio-wrapper-11-3 .ratio-wrapper-inner, .ratio-wrapper-11-4 .ratio-wrapper-inner, .ratio-wrapper-11-5 .ratio-wrapper-inner, .ratio-wrapper-11-6 .ratio-wrapper-inner, .ratio-wrapper-11-7 .ratio-wrapper-inner, .ratio-wrapper-11-8 .ratio-wrapper-inner, .ratio-wrapper-11-9 .ratio-wrapper-inner, .ratio-wrapper-11-10 .ratio-wrapper-inner, .ratio-wrapper-11-11 .ratio-wrapper-inner, .ratio-wrapper-11-12 .ratio-wrapper-inner, .ratio-wrapper-11-13 .ratio-wrapper-inner, .ratio-wrapper-11-14 .ratio-wrapper-inner, .ratio-wrapper-11-15 .ratio-wrapper-inner, .ratio-wrapper-12-1 .ratio-wrapper-inner, .ratio-wrapper-12-2 .ratio-wrapper-inner, .ratio-wrapper-12-3 .ratio-wrapper-inner, .ratio-wrapper-12-4 .ratio-wrapper-inner, .ratio-wrapper-12-5 .ratio-wrapper-inner, .ratio-wrapper-12-6 .ratio-wrapper-inner, .ratio-wrapper-12-7 .ratio-wrapper-inner, .ratio-wrapper-12-8 .ratio-wrapper-inner, .ratio-wrapper-12-9 .ratio-wrapper-inner, .ratio-wrapper-12-10 .ratio-wrapper-inner, .ratio-wrapper-12-11 .ratio-wrapper-inner, .ratio-wrapper-12-12 .ratio-wrapper-inner, .ratio-wrapper-12-13 .ratio-wrapper-inner, .ratio-wrapper-12-14 .ratio-wrapper-inner, .ratio-wrapper-12-15 .ratio-wrapper-inner, .ratio-wrapper-13-1 .ratio-wrapper-inner, .ratio-wrapper-13-2 .ratio-wrapper-inner, .ratio-wrapper-13-3 .ratio-wrapper-inner, .ratio-wrapper-13-4 .ratio-wrapper-inner, .ratio-wrapper-13-5 .ratio-wrapper-inner, .ratio-wrapper-13-6 .ratio-wrapper-inner, .ratio-wrapper-13-7 .ratio-wrapper-inner, .ratio-wrapper-13-8 .ratio-wrapper-inner, .ratio-wrapper-13-9 .ratio-wrapper-inner, .ratio-wrapper-13-10 .ratio-wrapper-inner, .ratio-wrapper-13-11 .ratio-wrapper-inner, .ratio-wrapper-13-12 .ratio-wrapper-inner, .ratio-wrapper-13-13 .ratio-wrapper-inner, .ratio-wrapper-13-14 .ratio-wrapper-inner, .ratio-wrapper-13-15 .ratio-wrapper-inner, .ratio-wrapper-14-1 .ratio-wrapper-inner, .ratio-wrapper-14-2 .ratio-wrapper-inner, .ratio-wrapper-14-3 .ratio-wrapper-inner, .ratio-wrapper-14-4 .ratio-wrapper-inner, .ratio-wrapper-14-5 .ratio-wrapper-inner, .ratio-wrapper-14-6 .ratio-wrapper-inner, .ratio-wrapper-14-7 .ratio-wrapper-inner, .ratio-wrapper-14-8 .ratio-wrapper-inner, .ratio-wrapper-14-9 .ratio-wrapper-inner, .ratio-wrapper-14-10 .ratio-wrapper-inner, .ratio-wrapper-14-11 .ratio-wrapper-inner, .ratio-wrapper-14-12 .ratio-wrapper-inner, .ratio-wrapper-14-13 .ratio-wrapper-inner, .ratio-wrapper-14-14 .ratio-wrapper-inner, .ratio-wrapper-14-15 .ratio-wrapper-inner, .ratio-wrapper-15-1 .ratio-wrapper-inner, .ratio-wrapper-15-2 .ratio-wrapper-inner, .ratio-wrapper-15-3 .ratio-wrapper-inner, .ratio-wrapper-15-4 .ratio-wrapper-inner, .ratio-wrapper-15-5 .ratio-wrapper-inner, .ratio-wrapper-15-6 .ratio-wrapper-inner, .ratio-wrapper-15-7 .ratio-wrapper-inner, .ratio-wrapper-15-8 .ratio-wrapper-inner, .ratio-wrapper-15-9 .ratio-wrapper-inner, .ratio-wrapper-15-10 .ratio-wrapper-inner, .ratio-wrapper-15-11 .ratio-wrapper-inner, .ratio-wrapper-15-12 .ratio-wrapper-inner, .ratio-wrapper-15-13 .ratio-wrapper-inner, .ratio-wrapper-15-14 .ratio-wrapper-inner, .ratio-wrapper-15-15 .ratio-wrapper-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .ratio-wrapper .ratio-wrapper-inner .footer, .ratio-wrapper-1-1 .ratio-wrapper-inner .footer, .ratio-wrapper-1-2 .ratio-wrapper-inner .footer, .ratio-wrapper-1-3 .ratio-wrapper-inner .footer, .ratio-wrapper-1-4 .ratio-wrapper-inner .footer, .ratio-wrapper-1-5 .ratio-wrapper-inner .footer, .ratio-wrapper-1-6 .ratio-wrapper-inner .footer, .ratio-wrapper-1-7 .ratio-wrapper-inner .footer, .ratio-wrapper-1-8 .ratio-wrapper-inner .footer, .ratio-wrapper-1-9 .ratio-wrapper-inner .footer, .ratio-wrapper-1-10 .ratio-wrapper-inner .footer, .ratio-wrapper-1-11 .ratio-wrapper-inner .footer, .ratio-wrapper-1-12 .ratio-wrapper-inner .footer, .ratio-wrapper-1-13 .ratio-wrapper-inner .footer, .ratio-wrapper-1-14 .ratio-wrapper-inner .footer, .ratio-wrapper-1-15 .ratio-wrapper-inner .footer, .ratio-wrapper-2-1 .ratio-wrapper-inner .footer, .ratio-wrapper-2-2 .ratio-wrapper-inner .footer, .ratio-wrapper-2-3 .ratio-wrapper-inner .footer, .ratio-wrapper-2-4 .ratio-wrapper-inner .footer, .ratio-wrapper-2-5 .ratio-wrapper-inner .footer, .ratio-wrapper-2-6 .ratio-wrapper-inner .footer, .ratio-wrapper-2-7 .ratio-wrapper-inner .footer, .ratio-wrapper-2-8 .ratio-wrapper-inner .footer, .ratio-wrapper-2-9 .ratio-wrapper-inner .footer, .ratio-wrapper-2-10 .ratio-wrapper-inner .footer, .ratio-wrapper-2-11 .ratio-wrapper-inner .footer, .ratio-wrapper-2-12 .ratio-wrapper-inner .footer, .ratio-wrapper-2-13 .ratio-wrapper-inner .footer, .ratio-wrapper-2-14 .ratio-wrapper-inner .footer, .ratio-wrapper-2-15 .ratio-wrapper-inner .footer, .ratio-wrapper-3-1 .ratio-wrapper-inner .footer, .ratio-wrapper-3-2 .ratio-wrapper-inner .footer, .ratio-wrapper-3-3 .ratio-wrapper-inner .footer, .ratio-wrapper-3-4 .ratio-wrapper-inner .footer, .ratio-wrapper-3-5 .ratio-wrapper-inner .footer, .ratio-wrapper-3-6 .ratio-wrapper-inner .footer, .ratio-wrapper-3-7 .ratio-wrapper-inner .footer, .ratio-wrapper-3-8 .ratio-wrapper-inner .footer, .ratio-wrapper-3-9 .ratio-wrapper-inner .footer, .ratio-wrapper-3-10 .ratio-wrapper-inner .footer, .ratio-wrapper-3-11 .ratio-wrapper-inner .footer, .ratio-wrapper-3-12 .ratio-wrapper-inner .footer, .ratio-wrapper-3-13 .ratio-wrapper-inner .footer, .ratio-wrapper-3-14 .ratio-wrapper-inner .footer, .ratio-wrapper-3-15 .ratio-wrapper-inner .footer, .ratio-wrapper-4-1 .ratio-wrapper-inner .footer, .ratio-wrapper-4-2 .ratio-wrapper-inner .footer, .ratio-wrapper-4-3 .ratio-wrapper-inner .footer, .ratio-wrapper-4-4 .ratio-wrapper-inner .footer, .ratio-wrapper-4-5 .ratio-wrapper-inner .footer, .ratio-wrapper-4-6 .ratio-wrapper-inner .footer, .ratio-wrapper-4-7 .ratio-wrapper-inner .footer, .ratio-wrapper-4-8 .ratio-wrapper-inner .footer, .ratio-wrapper-4-9 .ratio-wrapper-inner .footer, .ratio-wrapper-4-10 .ratio-wrapper-inner .footer, .ratio-wrapper-4-11 .ratio-wrapper-inner .footer, .ratio-wrapper-4-12 .ratio-wrapper-inner .footer, .ratio-wrapper-4-13 .ratio-wrapper-inner .footer, .ratio-wrapper-4-14 .ratio-wrapper-inner .footer, .ratio-wrapper-4-15 .ratio-wrapper-inner .footer, .ratio-wrapper-5-1 .ratio-wrapper-inner .footer, .ratio-wrapper-5-2 .ratio-wrapper-inner .footer, .ratio-wrapper-5-3 .ratio-wrapper-inner .footer, .ratio-wrapper-5-4 .ratio-wrapper-inner .footer, .ratio-wrapper-5-5 .ratio-wrapper-inner .footer, .ratio-wrapper-5-6 .ratio-wrapper-inner .footer, .ratio-wrapper-5-7 .ratio-wrapper-inner .footer, .ratio-wrapper-5-8 .ratio-wrapper-inner .footer, .ratio-wrapper-5-9 .ratio-wrapper-inner .footer, .ratio-wrapper-5-10 .ratio-wrapper-inner .footer, .ratio-wrapper-5-11 .ratio-wrapper-inner .footer, .ratio-wrapper-5-12 .ratio-wrapper-inner .footer, .ratio-wrapper-5-13 .ratio-wrapper-inner .footer, .ratio-wrapper-5-14 .ratio-wrapper-inner .footer, .ratio-wrapper-5-15 .ratio-wrapper-inner .footer, .ratio-wrapper-6-1 .ratio-wrapper-inner .footer, .ratio-wrapper-6-2 .ratio-wrapper-inner .footer, .ratio-wrapper-6-3 .ratio-wrapper-inner .footer, .ratio-wrapper-6-4 .ratio-wrapper-inner .footer, .ratio-wrapper-6-5 .ratio-wrapper-inner .footer, .ratio-wrapper-6-6 .ratio-wrapper-inner .footer, .ratio-wrapper-6-7 .ratio-wrapper-inner .footer, .ratio-wrapper-6-8 .ratio-wrapper-inner .footer, .ratio-wrapper-6-9 .ratio-wrapper-inner .footer, .ratio-wrapper-6-10 .ratio-wrapper-inner .footer, .ratio-wrapper-6-11 .ratio-wrapper-inner .footer, .ratio-wrapper-6-12 .ratio-wrapper-inner .footer, .ratio-wrapper-6-13 .ratio-wrapper-inner .footer, .ratio-wrapper-6-14 .ratio-wrapper-inner .footer, .ratio-wrapper-6-15 .ratio-wrapper-inner .footer, .ratio-wrapper-7-1 .ratio-wrapper-inner .footer, .ratio-wrapper-7-2 .ratio-wrapper-inner .footer, .ratio-wrapper-7-3 .ratio-wrapper-inner .footer, .ratio-wrapper-7-4 .ratio-wrapper-inner .footer, .ratio-wrapper-7-5 .ratio-wrapper-inner .footer, .ratio-wrapper-7-6 .ratio-wrapper-inner .footer, .ratio-wrapper-7-7 .ratio-wrapper-inner .footer, .ratio-wrapper-7-8 .ratio-wrapper-inner .footer, .ratio-wrapper-7-9 .ratio-wrapper-inner .footer, .ratio-wrapper-7-10 .ratio-wrapper-inner .footer, .ratio-wrapper-7-11 .ratio-wrapper-inner .footer, .ratio-wrapper-7-12 .ratio-wrapper-inner .footer, .ratio-wrapper-7-13 .ratio-wrapper-inner .footer, .ratio-wrapper-7-14 .ratio-wrapper-inner .footer, .ratio-wrapper-7-15 .ratio-wrapper-inner .footer, .ratio-wrapper-8-1 .ratio-wrapper-inner .footer, .ratio-wrapper-8-2 .ratio-wrapper-inner .footer, .ratio-wrapper-8-3 .ratio-wrapper-inner .footer, .ratio-wrapper-8-4 .ratio-wrapper-inner .footer, .ratio-wrapper-8-5 .ratio-wrapper-inner .footer, .ratio-wrapper-8-6 .ratio-wrapper-inner .footer, .ratio-wrapper-8-7 .ratio-wrapper-inner .footer, .ratio-wrapper-8-8 .ratio-wrapper-inner .footer, .ratio-wrapper-8-9 .ratio-wrapper-inner .footer, .ratio-wrapper-8-10 .ratio-wrapper-inner .footer, .ratio-wrapper-8-11 .ratio-wrapper-inner .footer, .ratio-wrapper-8-12 .ratio-wrapper-inner .footer, .ratio-wrapper-8-13 .ratio-wrapper-inner .footer, .ratio-wrapper-8-14 .ratio-wrapper-inner .footer, .ratio-wrapper-8-15 .ratio-wrapper-inner .footer, .ratio-wrapper-9-1 .ratio-wrapper-inner .footer, .ratio-wrapper-9-2 .ratio-wrapper-inner .footer, .ratio-wrapper-9-3 .ratio-wrapper-inner .footer, .ratio-wrapper-9-4 .ratio-wrapper-inner .footer, .ratio-wrapper-9-5 .ratio-wrapper-inner .footer, .ratio-wrapper-9-6 .ratio-wrapper-inner .footer, .ratio-wrapper-9-7 .ratio-wrapper-inner .footer, .ratio-wrapper-9-8 .ratio-wrapper-inner .footer, .ratio-wrapper-9-9 .ratio-wrapper-inner .footer, .ratio-wrapper-9-10 .ratio-wrapper-inner .footer, .ratio-wrapper-9-11 .ratio-wrapper-inner .footer, .ratio-wrapper-9-12 .ratio-wrapper-inner .footer, .ratio-wrapper-9-13 .ratio-wrapper-inner .footer, .ratio-wrapper-9-14 .ratio-wrapper-inner .footer, .ratio-wrapper-9-15 .ratio-wrapper-inner .footer, .ratio-wrapper-10-1 .ratio-wrapper-inner .footer, .ratio-wrapper-10-2 .ratio-wrapper-inner .footer, .ratio-wrapper-10-3 .ratio-wrapper-inner .footer, .ratio-wrapper-10-4 .ratio-wrapper-inner .footer, .ratio-wrapper-10-5 .ratio-wrapper-inner .footer, .ratio-wrapper-10-6 .ratio-wrapper-inner .footer, .ratio-wrapper-10-7 .ratio-wrapper-inner .footer, .ratio-wrapper-10-8 .ratio-wrapper-inner .footer, .ratio-wrapper-10-9 .ratio-wrapper-inner .footer, .ratio-wrapper-10-10 .ratio-wrapper-inner .footer, .ratio-wrapper-10-11 .ratio-wrapper-inner .footer, .ratio-wrapper-10-12 .ratio-wrapper-inner .footer, .ratio-wrapper-10-13 .ratio-wrapper-inner .footer, .ratio-wrapper-10-14 .ratio-wrapper-inner .footer, .ratio-wrapper-10-15 .ratio-wrapper-inner .footer, .ratio-wrapper-11-1 .ratio-wrapper-inner .footer, .ratio-wrapper-11-2 .ratio-wrapper-inner .footer, .ratio-wrapper-11-3 .ratio-wrapper-inner .footer, .ratio-wrapper-11-4 .ratio-wrapper-inner .footer, .ratio-wrapper-11-5 .ratio-wrapper-inner .footer, .ratio-wrapper-11-6 .ratio-wrapper-inner .footer, .ratio-wrapper-11-7 .ratio-wrapper-inner .footer, .ratio-wrapper-11-8 .ratio-wrapper-inner .footer, .ratio-wrapper-11-9 .ratio-wrapper-inner .footer, .ratio-wrapper-11-10 .ratio-wrapper-inner .footer, .ratio-wrapper-11-11 .ratio-wrapper-inner .footer, .ratio-wrapper-11-12 .ratio-wrapper-inner .footer, .ratio-wrapper-11-13 .ratio-wrapper-inner .footer, .ratio-wrapper-11-14 .ratio-wrapper-inner .footer, .ratio-wrapper-11-15 .ratio-wrapper-inner .footer, .ratio-wrapper-12-1 .ratio-wrapper-inner .footer, .ratio-wrapper-12-2 .ratio-wrapper-inner .footer, .ratio-wrapper-12-3 .ratio-wrapper-inner .footer, .ratio-wrapper-12-4 .ratio-wrapper-inner .footer, .ratio-wrapper-12-5 .ratio-wrapper-inner .footer, .ratio-wrapper-12-6 .ratio-wrapper-inner .footer, .ratio-wrapper-12-7 .ratio-wrapper-inner .footer, .ratio-wrapper-12-8 .ratio-wrapper-inner .footer, .ratio-wrapper-12-9 .ratio-wrapper-inner .footer, .ratio-wrapper-12-10 .ratio-wrapper-inner .footer, .ratio-wrapper-12-11 .ratio-wrapper-inner .footer, .ratio-wrapper-12-12 .ratio-wrapper-inner .footer, .ratio-wrapper-12-13 .ratio-wrapper-inner .footer, .ratio-wrapper-12-14 .ratio-wrapper-inner .footer, .ratio-wrapper-12-15 .ratio-wrapper-inner .footer, .ratio-wrapper-13-1 .ratio-wrapper-inner .footer, .ratio-wrapper-13-2 .ratio-wrapper-inner .footer, .ratio-wrapper-13-3 .ratio-wrapper-inner .footer, .ratio-wrapper-13-4 .ratio-wrapper-inner .footer, .ratio-wrapper-13-5 .ratio-wrapper-inner .footer, .ratio-wrapper-13-6 .ratio-wrapper-inner .footer, .ratio-wrapper-13-7 .ratio-wrapper-inner .footer, .ratio-wrapper-13-8 .ratio-wrapper-inner .footer, .ratio-wrapper-13-9 .ratio-wrapper-inner .footer, .ratio-wrapper-13-10 .ratio-wrapper-inner .footer, .ratio-wrapper-13-11 .ratio-wrapper-inner .footer, .ratio-wrapper-13-12 .ratio-wrapper-inner .footer, .ratio-wrapper-13-13 .ratio-wrapper-inner .footer, .ratio-wrapper-13-14 .ratio-wrapper-inner .footer, .ratio-wrapper-13-15 .ratio-wrapper-inner .footer, .ratio-wrapper-14-1 .ratio-wrapper-inner .footer, .ratio-wrapper-14-2 .ratio-wrapper-inner .footer, .ratio-wrapper-14-3 .ratio-wrapper-inner .footer, .ratio-wrapper-14-4 .ratio-wrapper-inner .footer, .ratio-wrapper-14-5 .ratio-wrapper-inner .footer, .ratio-wrapper-14-6 .ratio-wrapper-inner .footer, .ratio-wrapper-14-7 .ratio-wrapper-inner .footer, .ratio-wrapper-14-8 .ratio-wrapper-inner .footer, .ratio-wrapper-14-9 .ratio-wrapper-inner .footer, .ratio-wrapper-14-10 .ratio-wrapper-inner .footer, .ratio-wrapper-14-11 .ratio-wrapper-inner .footer, .ratio-wrapper-14-12 .ratio-wrapper-inner .footer, .ratio-wrapper-14-13 .ratio-wrapper-inner .footer, .ratio-wrapper-14-14 .ratio-wrapper-inner .footer, .ratio-wrapper-14-15 .ratio-wrapper-inner .footer, .ratio-wrapper-15-1 .ratio-wrapper-inner .footer, .ratio-wrapper-15-2 .ratio-wrapper-inner .footer, .ratio-wrapper-15-3 .ratio-wrapper-inner .footer, .ratio-wrapper-15-4 .ratio-wrapper-inner .footer, .ratio-wrapper-15-5 .ratio-wrapper-inner .footer, .ratio-wrapper-15-6 .ratio-wrapper-inner .footer, .ratio-wrapper-15-7 .ratio-wrapper-inner .footer, .ratio-wrapper-15-8 .ratio-wrapper-inner .footer, .ratio-wrapper-15-9 .ratio-wrapper-inner .footer, .ratio-wrapper-15-10 .ratio-wrapper-inner .footer, .ratio-wrapper-15-11 .ratio-wrapper-inner .footer, .ratio-wrapper-15-12 .ratio-wrapper-inner .footer, .ratio-wrapper-15-13 .ratio-wrapper-inner .footer, .ratio-wrapper-15-14 .ratio-wrapper-inner .footer, .ratio-wrapper-15-15 .ratio-wrapper-inner .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
    .ratio-wrapper .ratio-wrapper-inner .header, .ratio-wrapper-1-1 .ratio-wrapper-inner .header, .ratio-wrapper-1-2 .ratio-wrapper-inner .header, .ratio-wrapper-1-3 .ratio-wrapper-inner .header, .ratio-wrapper-1-4 .ratio-wrapper-inner .header, .ratio-wrapper-1-5 .ratio-wrapper-inner .header, .ratio-wrapper-1-6 .ratio-wrapper-inner .header, .ratio-wrapper-1-7 .ratio-wrapper-inner .header, .ratio-wrapper-1-8 .ratio-wrapper-inner .header, .ratio-wrapper-1-9 .ratio-wrapper-inner .header, .ratio-wrapper-1-10 .ratio-wrapper-inner .header, .ratio-wrapper-1-11 .ratio-wrapper-inner .header, .ratio-wrapper-1-12 .ratio-wrapper-inner .header, .ratio-wrapper-1-13 .ratio-wrapper-inner .header, .ratio-wrapper-1-14 .ratio-wrapper-inner .header, .ratio-wrapper-1-15 .ratio-wrapper-inner .header, .ratio-wrapper-2-1 .ratio-wrapper-inner .header, .ratio-wrapper-2-2 .ratio-wrapper-inner .header, .ratio-wrapper-2-3 .ratio-wrapper-inner .header, .ratio-wrapper-2-4 .ratio-wrapper-inner .header, .ratio-wrapper-2-5 .ratio-wrapper-inner .header, .ratio-wrapper-2-6 .ratio-wrapper-inner .header, .ratio-wrapper-2-7 .ratio-wrapper-inner .header, .ratio-wrapper-2-8 .ratio-wrapper-inner .header, .ratio-wrapper-2-9 .ratio-wrapper-inner .header, .ratio-wrapper-2-10 .ratio-wrapper-inner .header, .ratio-wrapper-2-11 .ratio-wrapper-inner .header, .ratio-wrapper-2-12 .ratio-wrapper-inner .header, .ratio-wrapper-2-13 .ratio-wrapper-inner .header, .ratio-wrapper-2-14 .ratio-wrapper-inner .header, .ratio-wrapper-2-15 .ratio-wrapper-inner .header, .ratio-wrapper-3-1 .ratio-wrapper-inner .header, .ratio-wrapper-3-2 .ratio-wrapper-inner .header, .ratio-wrapper-3-3 .ratio-wrapper-inner .header, .ratio-wrapper-3-4 .ratio-wrapper-inner .header, .ratio-wrapper-3-5 .ratio-wrapper-inner .header, .ratio-wrapper-3-6 .ratio-wrapper-inner .header, .ratio-wrapper-3-7 .ratio-wrapper-inner .header, .ratio-wrapper-3-8 .ratio-wrapper-inner .header, .ratio-wrapper-3-9 .ratio-wrapper-inner .header, .ratio-wrapper-3-10 .ratio-wrapper-inner .header, .ratio-wrapper-3-11 .ratio-wrapper-inner .header, .ratio-wrapper-3-12 .ratio-wrapper-inner .header, .ratio-wrapper-3-13 .ratio-wrapper-inner .header, .ratio-wrapper-3-14 .ratio-wrapper-inner .header, .ratio-wrapper-3-15 .ratio-wrapper-inner .header, .ratio-wrapper-4-1 .ratio-wrapper-inner .header, .ratio-wrapper-4-2 .ratio-wrapper-inner .header, .ratio-wrapper-4-3 .ratio-wrapper-inner .header, .ratio-wrapper-4-4 .ratio-wrapper-inner .header, .ratio-wrapper-4-5 .ratio-wrapper-inner .header, .ratio-wrapper-4-6 .ratio-wrapper-inner .header, .ratio-wrapper-4-7 .ratio-wrapper-inner .header, .ratio-wrapper-4-8 .ratio-wrapper-inner .header, .ratio-wrapper-4-9 .ratio-wrapper-inner .header, .ratio-wrapper-4-10 .ratio-wrapper-inner .header, .ratio-wrapper-4-11 .ratio-wrapper-inner .header, .ratio-wrapper-4-12 .ratio-wrapper-inner .header, .ratio-wrapper-4-13 .ratio-wrapper-inner .header, .ratio-wrapper-4-14 .ratio-wrapper-inner .header, .ratio-wrapper-4-15 .ratio-wrapper-inner .header, .ratio-wrapper-5-1 .ratio-wrapper-inner .header, .ratio-wrapper-5-2 .ratio-wrapper-inner .header, .ratio-wrapper-5-3 .ratio-wrapper-inner .header, .ratio-wrapper-5-4 .ratio-wrapper-inner .header, .ratio-wrapper-5-5 .ratio-wrapper-inner .header, .ratio-wrapper-5-6 .ratio-wrapper-inner .header, .ratio-wrapper-5-7 .ratio-wrapper-inner .header, .ratio-wrapper-5-8 .ratio-wrapper-inner .header, .ratio-wrapper-5-9 .ratio-wrapper-inner .header, .ratio-wrapper-5-10 .ratio-wrapper-inner .header, .ratio-wrapper-5-11 .ratio-wrapper-inner .header, .ratio-wrapper-5-12 .ratio-wrapper-inner .header, .ratio-wrapper-5-13 .ratio-wrapper-inner .header, .ratio-wrapper-5-14 .ratio-wrapper-inner .header, .ratio-wrapper-5-15 .ratio-wrapper-inner .header, .ratio-wrapper-6-1 .ratio-wrapper-inner .header, .ratio-wrapper-6-2 .ratio-wrapper-inner .header, .ratio-wrapper-6-3 .ratio-wrapper-inner .header, .ratio-wrapper-6-4 .ratio-wrapper-inner .header, .ratio-wrapper-6-5 .ratio-wrapper-inner .header, .ratio-wrapper-6-6 .ratio-wrapper-inner .header, .ratio-wrapper-6-7 .ratio-wrapper-inner .header, .ratio-wrapper-6-8 .ratio-wrapper-inner .header, .ratio-wrapper-6-9 .ratio-wrapper-inner .header, .ratio-wrapper-6-10 .ratio-wrapper-inner .header, .ratio-wrapper-6-11 .ratio-wrapper-inner .header, .ratio-wrapper-6-12 .ratio-wrapper-inner .header, .ratio-wrapper-6-13 .ratio-wrapper-inner .header, .ratio-wrapper-6-14 .ratio-wrapper-inner .header, .ratio-wrapper-6-15 .ratio-wrapper-inner .header, .ratio-wrapper-7-1 .ratio-wrapper-inner .header, .ratio-wrapper-7-2 .ratio-wrapper-inner .header, .ratio-wrapper-7-3 .ratio-wrapper-inner .header, .ratio-wrapper-7-4 .ratio-wrapper-inner .header, .ratio-wrapper-7-5 .ratio-wrapper-inner .header, .ratio-wrapper-7-6 .ratio-wrapper-inner .header, .ratio-wrapper-7-7 .ratio-wrapper-inner .header, .ratio-wrapper-7-8 .ratio-wrapper-inner .header, .ratio-wrapper-7-9 .ratio-wrapper-inner .header, .ratio-wrapper-7-10 .ratio-wrapper-inner .header, .ratio-wrapper-7-11 .ratio-wrapper-inner .header, .ratio-wrapper-7-12 .ratio-wrapper-inner .header, .ratio-wrapper-7-13 .ratio-wrapper-inner .header, .ratio-wrapper-7-14 .ratio-wrapper-inner .header, .ratio-wrapper-7-15 .ratio-wrapper-inner .header, .ratio-wrapper-8-1 .ratio-wrapper-inner .header, .ratio-wrapper-8-2 .ratio-wrapper-inner .header, .ratio-wrapper-8-3 .ratio-wrapper-inner .header, .ratio-wrapper-8-4 .ratio-wrapper-inner .header, .ratio-wrapper-8-5 .ratio-wrapper-inner .header, .ratio-wrapper-8-6 .ratio-wrapper-inner .header, .ratio-wrapper-8-7 .ratio-wrapper-inner .header, .ratio-wrapper-8-8 .ratio-wrapper-inner .header, .ratio-wrapper-8-9 .ratio-wrapper-inner .header, .ratio-wrapper-8-10 .ratio-wrapper-inner .header, .ratio-wrapper-8-11 .ratio-wrapper-inner .header, .ratio-wrapper-8-12 .ratio-wrapper-inner .header, .ratio-wrapper-8-13 .ratio-wrapper-inner .header, .ratio-wrapper-8-14 .ratio-wrapper-inner .header, .ratio-wrapper-8-15 .ratio-wrapper-inner .header, .ratio-wrapper-9-1 .ratio-wrapper-inner .header, .ratio-wrapper-9-2 .ratio-wrapper-inner .header, .ratio-wrapper-9-3 .ratio-wrapper-inner .header, .ratio-wrapper-9-4 .ratio-wrapper-inner .header, .ratio-wrapper-9-5 .ratio-wrapper-inner .header, .ratio-wrapper-9-6 .ratio-wrapper-inner .header, .ratio-wrapper-9-7 .ratio-wrapper-inner .header, .ratio-wrapper-9-8 .ratio-wrapper-inner .header, .ratio-wrapper-9-9 .ratio-wrapper-inner .header, .ratio-wrapper-9-10 .ratio-wrapper-inner .header, .ratio-wrapper-9-11 .ratio-wrapper-inner .header, .ratio-wrapper-9-12 .ratio-wrapper-inner .header, .ratio-wrapper-9-13 .ratio-wrapper-inner .header, .ratio-wrapper-9-14 .ratio-wrapper-inner .header, .ratio-wrapper-9-15 .ratio-wrapper-inner .header, .ratio-wrapper-10-1 .ratio-wrapper-inner .header, .ratio-wrapper-10-2 .ratio-wrapper-inner .header, .ratio-wrapper-10-3 .ratio-wrapper-inner .header, .ratio-wrapper-10-4 .ratio-wrapper-inner .header, .ratio-wrapper-10-5 .ratio-wrapper-inner .header, .ratio-wrapper-10-6 .ratio-wrapper-inner .header, .ratio-wrapper-10-7 .ratio-wrapper-inner .header, .ratio-wrapper-10-8 .ratio-wrapper-inner .header, .ratio-wrapper-10-9 .ratio-wrapper-inner .header, .ratio-wrapper-10-10 .ratio-wrapper-inner .header, .ratio-wrapper-10-11 .ratio-wrapper-inner .header, .ratio-wrapper-10-12 .ratio-wrapper-inner .header, .ratio-wrapper-10-13 .ratio-wrapper-inner .header, .ratio-wrapper-10-14 .ratio-wrapper-inner .header, .ratio-wrapper-10-15 .ratio-wrapper-inner .header, .ratio-wrapper-11-1 .ratio-wrapper-inner .header, .ratio-wrapper-11-2 .ratio-wrapper-inner .header, .ratio-wrapper-11-3 .ratio-wrapper-inner .header, .ratio-wrapper-11-4 .ratio-wrapper-inner .header, .ratio-wrapper-11-5 .ratio-wrapper-inner .header, .ratio-wrapper-11-6 .ratio-wrapper-inner .header, .ratio-wrapper-11-7 .ratio-wrapper-inner .header, .ratio-wrapper-11-8 .ratio-wrapper-inner .header, .ratio-wrapper-11-9 .ratio-wrapper-inner .header, .ratio-wrapper-11-10 .ratio-wrapper-inner .header, .ratio-wrapper-11-11 .ratio-wrapper-inner .header, .ratio-wrapper-11-12 .ratio-wrapper-inner .header, .ratio-wrapper-11-13 .ratio-wrapper-inner .header, .ratio-wrapper-11-14 .ratio-wrapper-inner .header, .ratio-wrapper-11-15 .ratio-wrapper-inner .header, .ratio-wrapper-12-1 .ratio-wrapper-inner .header, .ratio-wrapper-12-2 .ratio-wrapper-inner .header, .ratio-wrapper-12-3 .ratio-wrapper-inner .header, .ratio-wrapper-12-4 .ratio-wrapper-inner .header, .ratio-wrapper-12-5 .ratio-wrapper-inner .header, .ratio-wrapper-12-6 .ratio-wrapper-inner .header, .ratio-wrapper-12-7 .ratio-wrapper-inner .header, .ratio-wrapper-12-8 .ratio-wrapper-inner .header, .ratio-wrapper-12-9 .ratio-wrapper-inner .header, .ratio-wrapper-12-10 .ratio-wrapper-inner .header, .ratio-wrapper-12-11 .ratio-wrapper-inner .header, .ratio-wrapper-12-12 .ratio-wrapper-inner .header, .ratio-wrapper-12-13 .ratio-wrapper-inner .header, .ratio-wrapper-12-14 .ratio-wrapper-inner .header, .ratio-wrapper-12-15 .ratio-wrapper-inner .header, .ratio-wrapper-13-1 .ratio-wrapper-inner .header, .ratio-wrapper-13-2 .ratio-wrapper-inner .header, .ratio-wrapper-13-3 .ratio-wrapper-inner .header, .ratio-wrapper-13-4 .ratio-wrapper-inner .header, .ratio-wrapper-13-5 .ratio-wrapper-inner .header, .ratio-wrapper-13-6 .ratio-wrapper-inner .header, .ratio-wrapper-13-7 .ratio-wrapper-inner .header, .ratio-wrapper-13-8 .ratio-wrapper-inner .header, .ratio-wrapper-13-9 .ratio-wrapper-inner .header, .ratio-wrapper-13-10 .ratio-wrapper-inner .header, .ratio-wrapper-13-11 .ratio-wrapper-inner .header, .ratio-wrapper-13-12 .ratio-wrapper-inner .header, .ratio-wrapper-13-13 .ratio-wrapper-inner .header, .ratio-wrapper-13-14 .ratio-wrapper-inner .header, .ratio-wrapper-13-15 .ratio-wrapper-inner .header, .ratio-wrapper-14-1 .ratio-wrapper-inner .header, .ratio-wrapper-14-2 .ratio-wrapper-inner .header, .ratio-wrapper-14-3 .ratio-wrapper-inner .header, .ratio-wrapper-14-4 .ratio-wrapper-inner .header, .ratio-wrapper-14-5 .ratio-wrapper-inner .header, .ratio-wrapper-14-6 .ratio-wrapper-inner .header, .ratio-wrapper-14-7 .ratio-wrapper-inner .header, .ratio-wrapper-14-8 .ratio-wrapper-inner .header, .ratio-wrapper-14-9 .ratio-wrapper-inner .header, .ratio-wrapper-14-10 .ratio-wrapper-inner .header, .ratio-wrapper-14-11 .ratio-wrapper-inner .header, .ratio-wrapper-14-12 .ratio-wrapper-inner .header, .ratio-wrapper-14-13 .ratio-wrapper-inner .header, .ratio-wrapper-14-14 .ratio-wrapper-inner .header, .ratio-wrapper-14-15 .ratio-wrapper-inner .header, .ratio-wrapper-15-1 .ratio-wrapper-inner .header, .ratio-wrapper-15-2 .ratio-wrapper-inner .header, .ratio-wrapper-15-3 .ratio-wrapper-inner .header, .ratio-wrapper-15-4 .ratio-wrapper-inner .header, .ratio-wrapper-15-5 .ratio-wrapper-inner .header, .ratio-wrapper-15-6 .ratio-wrapper-inner .header, .ratio-wrapper-15-7 .ratio-wrapper-inner .header, .ratio-wrapper-15-8 .ratio-wrapper-inner .header, .ratio-wrapper-15-9 .ratio-wrapper-inner .header, .ratio-wrapper-15-10 .ratio-wrapper-inner .header, .ratio-wrapper-15-11 .ratio-wrapper-inner .header, .ratio-wrapper-15-12 .ratio-wrapper-inner .header, .ratio-wrapper-15-13 .ratio-wrapper-inner .header, .ratio-wrapper-15-14 .ratio-wrapper-inner .header, .ratio-wrapper-15-15 .ratio-wrapper-inner .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0; }

.ratio-wrapper-1-1 {
  padding-bottom: 100%; }

.ratio-wrapper-1-2 {
  padding-bottom: 200%; }

.ratio-wrapper-1-3 {
  padding-bottom: 300%; }

.ratio-wrapper-1-4 {
  padding-bottom: 400%; }

.ratio-wrapper-1-5 {
  padding-bottom: 500%; }

.ratio-wrapper-1-6 {
  padding-bottom: 600%; }

.ratio-wrapper-1-7 {
  padding-bottom: 700%; }

.ratio-wrapper-1-8 {
  padding-bottom: 800%; }

.ratio-wrapper-1-9 {
  padding-bottom: 900%; }

.ratio-wrapper-1-10 {
  padding-bottom: 1000%; }

.ratio-wrapper-1-11 {
  padding-bottom: 1100%; }

.ratio-wrapper-1-12 {
  padding-bottom: 1200%; }

.ratio-wrapper-1-13 {
  padding-bottom: 1300%; }

.ratio-wrapper-1-14 {
  padding-bottom: 1400%; }

.ratio-wrapper-1-15 {
  padding-bottom: 1500%; }

.ratio-wrapper-2-1 {
  padding-bottom: 200%; }

.ratio-wrapper-2-2 {
  padding-bottom: 100%; }

.ratio-wrapper-2-3 {
  padding-bottom: 150%; }

.ratio-wrapper-2-4 {
  padding-bottom: 200%; }

.ratio-wrapper-2-5 {
  padding-bottom: 250%; }

.ratio-wrapper-2-6 {
  padding-bottom: 300%; }

.ratio-wrapper-2-7 {
  padding-bottom: 350%; }

.ratio-wrapper-2-8 {
  padding-bottom: 400%; }

.ratio-wrapper-2-9 {
  padding-bottom: 450%; }

.ratio-wrapper-2-10 {
  padding-bottom: 500%; }

.ratio-wrapper-2-11 {
  padding-bottom: 550%; }

.ratio-wrapper-2-12 {
  padding-bottom: 600%; }

.ratio-wrapper-2-13 {
  padding-bottom: 650%; }

.ratio-wrapper-2-14 {
  padding-bottom: 700%; }

.ratio-wrapper-2-15 {
  padding-bottom: 750%; }

.ratio-wrapper-3-1 {
  padding-bottom: 300%; }

.ratio-wrapper-3-2 {
  padding-bottom: 150%; }

.ratio-wrapper-3-3 {
  padding-bottom: 100%; }

.ratio-wrapper-3-4 {
  padding-bottom: 133.33333%; }

.ratio-wrapper-3-5 {
  padding-bottom: 166.66667%; }

.ratio-wrapper-3-6 {
  padding-bottom: 200%; }

.ratio-wrapper-3-7 {
  padding-bottom: 233.33333%; }

.ratio-wrapper-3-8 {
  padding-bottom: 266.66667%; }

.ratio-wrapper-3-9 {
  padding-bottom: 300%; }

.ratio-wrapper-3-10 {
  padding-bottom: 333.33333%; }

.ratio-wrapper-3-11 {
  padding-bottom: 366.66667%; }

.ratio-wrapper-3-12 {
  padding-bottom: 400%; }

.ratio-wrapper-3-13 {
  padding-bottom: 433.33333%; }

.ratio-wrapper-3-14 {
  padding-bottom: 466.66667%; }

.ratio-wrapper-3-15 {
  padding-bottom: 500%; }

.ratio-wrapper-4-1 {
  padding-bottom: 400%; }

.ratio-wrapper-4-2 {
  padding-bottom: 200%; }

.ratio-wrapper-4-3 {
  padding-bottom: 133.33333%; }

.ratio-wrapper-4-4 {
  padding-bottom: 100%; }

.ratio-wrapper-4-5 {
  padding-bottom: 125%; }

.ratio-wrapper-4-6 {
  padding-bottom: 150%; }

.ratio-wrapper-4-7 {
  padding-bottom: 175%; }

.ratio-wrapper-4-8 {
  padding-bottom: 200%; }

.ratio-wrapper-4-9 {
  padding-bottom: 225%; }

.ratio-wrapper-4-10 {
  padding-bottom: 250%; }

.ratio-wrapper-4-11 {
  padding-bottom: 275%; }

.ratio-wrapper-4-12 {
  padding-bottom: 300%; }

.ratio-wrapper-4-13 {
  padding-bottom: 325%; }

.ratio-wrapper-4-14 {
  padding-bottom: 350%; }

.ratio-wrapper-4-15 {
  padding-bottom: 375%; }

.ratio-wrapper-5-1 {
  padding-bottom: 500%; }

.ratio-wrapper-5-2 {
  padding-bottom: 250%; }

.ratio-wrapper-5-3 {
  padding-bottom: 166.66667%; }

.ratio-wrapper-5-4 {
  padding-bottom: 125%; }

.ratio-wrapper-5-5 {
  padding-bottom: 100%; }

.ratio-wrapper-5-6 {
  padding-bottom: 120%; }

.ratio-wrapper-5-7 {
  padding-bottom: 140%; }

.ratio-wrapper-5-8 {
  padding-bottom: 160%; }

.ratio-wrapper-5-9 {
  padding-bottom: 180%; }

.ratio-wrapper-5-10 {
  padding-bottom: 200%; }

.ratio-wrapper-5-11 {
  padding-bottom: 220%; }

.ratio-wrapper-5-12 {
  padding-bottom: 240%; }

.ratio-wrapper-5-13 {
  padding-bottom: 260%; }

.ratio-wrapper-5-14 {
  padding-bottom: 280%; }

.ratio-wrapper-5-15 {
  padding-bottom: 300%; }

.ratio-wrapper-6-1 {
  padding-bottom: 600%; }

.ratio-wrapper-6-2 {
  padding-bottom: 300%; }

.ratio-wrapper-6-3 {
  padding-bottom: 200%; }

.ratio-wrapper-6-4 {
  padding-bottom: 150%; }

.ratio-wrapper-6-5 {
  padding-bottom: 120%; }

.ratio-wrapper-6-6 {
  padding-bottom: 100%; }

.ratio-wrapper-6-7 {
  padding-bottom: 116.66667%; }

.ratio-wrapper-6-8 {
  padding-bottom: 133.33333%; }

.ratio-wrapper-6-9 {
  padding-bottom: 150%; }

.ratio-wrapper-6-10 {
  padding-bottom: 166.66667%; }

.ratio-wrapper-6-11 {
  padding-bottom: 183.33333%; }

.ratio-wrapper-6-12 {
  padding-bottom: 200%; }

.ratio-wrapper-6-13 {
  padding-bottom: 216.66667%; }

.ratio-wrapper-6-14 {
  padding-bottom: 233.33333%; }

.ratio-wrapper-6-15 {
  padding-bottom: 250%; }

.ratio-wrapper-7-1 {
  padding-bottom: 700%; }

.ratio-wrapper-7-2 {
  padding-bottom: 350%; }

.ratio-wrapper-7-3 {
  padding-bottom: 233.33333%; }

.ratio-wrapper-7-4 {
  padding-bottom: 175%; }

.ratio-wrapper-7-5 {
  padding-bottom: 140%; }

.ratio-wrapper-7-6 {
  padding-bottom: 116.66667%; }

.ratio-wrapper-7-7 {
  padding-bottom: 100%; }

.ratio-wrapper-7-8 {
  padding-bottom: 114.28571%; }

.ratio-wrapper-7-9 {
  padding-bottom: 128.57143%; }

.ratio-wrapper-7-10 {
  padding-bottom: 142.85714%; }

.ratio-wrapper-7-11 {
  padding-bottom: 157.14286%; }

.ratio-wrapper-7-12 {
  padding-bottom: 171.42857%; }

.ratio-wrapper-7-13 {
  padding-bottom: 185.71429%; }

.ratio-wrapper-7-14 {
  padding-bottom: 200%; }

.ratio-wrapper-7-15 {
  padding-bottom: 214.28571%; }

.ratio-wrapper-8-1 {
  padding-bottom: 800%; }

.ratio-wrapper-8-2 {
  padding-bottom: 400%; }

.ratio-wrapper-8-3 {
  padding-bottom: 266.66667%; }

.ratio-wrapper-8-4 {
  padding-bottom: 200%; }

.ratio-wrapper-8-5 {
  padding-bottom: 160%; }

.ratio-wrapper-8-6 {
  padding-bottom: 133.33333%; }

.ratio-wrapper-8-7 {
  padding-bottom: 114.28571%; }

.ratio-wrapper-8-8 {
  padding-bottom: 100%; }

.ratio-wrapper-8-9 {
  padding-bottom: 112.5%; }

.ratio-wrapper-8-10 {
  padding-bottom: 125%; }

.ratio-wrapper-8-11 {
  padding-bottom: 137.5%; }

.ratio-wrapper-8-12 {
  padding-bottom: 150%; }

.ratio-wrapper-8-13 {
  padding-bottom: 162.5%; }

.ratio-wrapper-8-14 {
  padding-bottom: 175%; }

.ratio-wrapper-8-15 {
  padding-bottom: 187.5%; }

.ratio-wrapper-9-1 {
  padding-bottom: 900%; }

.ratio-wrapper-9-2 {
  padding-bottom: 450%; }

.ratio-wrapper-9-3 {
  padding-bottom: 300%; }

.ratio-wrapper-9-4 {
  padding-bottom: 225%; }

.ratio-wrapper-9-5 {
  padding-bottom: 180%; }

.ratio-wrapper-9-6 {
  padding-bottom: 150%; }

.ratio-wrapper-9-7 {
  padding-bottom: 128.57143%; }

.ratio-wrapper-9-8 {
  padding-bottom: 112.5%; }

.ratio-wrapper-9-9 {
  padding-bottom: 100%; }

.ratio-wrapper-9-10 {
  padding-bottom: 111.11111%; }

.ratio-wrapper-9-11 {
  padding-bottom: 122.22222%; }

.ratio-wrapper-9-12 {
  padding-bottom: 133.33333%; }

.ratio-wrapper-9-13 {
  padding-bottom: 144.44444%; }

.ratio-wrapper-9-14 {
  padding-bottom: 155.55556%; }

.ratio-wrapper-9-15 {
  padding-bottom: 166.66667%; }

.ratio-wrapper-10-1 {
  padding-bottom: 1000%; }

.ratio-wrapper-10-2 {
  padding-bottom: 500%; }

.ratio-wrapper-10-3 {
  padding-bottom: 333.33333%; }

.ratio-wrapper-10-4 {
  padding-bottom: 250%; }

.ratio-wrapper-10-5 {
  padding-bottom: 200%; }

.ratio-wrapper-10-6 {
  padding-bottom: 166.66667%; }

.ratio-wrapper-10-7 {
  padding-bottom: 142.85714%; }

.ratio-wrapper-10-8 {
  padding-bottom: 125%; }

.ratio-wrapper-10-9 {
  padding-bottom: 111.11111%; }

.ratio-wrapper-10-10 {
  padding-bottom: 100%; }

.ratio-wrapper-10-11 {
  padding-bottom: 110%; }

.ratio-wrapper-10-12 {
  padding-bottom: 120%; }

.ratio-wrapper-10-13 {
  padding-bottom: 130%; }

.ratio-wrapper-10-14 {
  padding-bottom: 140%; }

.ratio-wrapper-10-15 {
  padding-bottom: 150%; }

.ratio-wrapper-11-1 {
  padding-bottom: 1100%; }

.ratio-wrapper-11-2 {
  padding-bottom: 550%; }

.ratio-wrapper-11-3 {
  padding-bottom: 366.66667%; }

.ratio-wrapper-11-4 {
  padding-bottom: 275%; }

.ratio-wrapper-11-5 {
  padding-bottom: 220%; }

.ratio-wrapper-11-6 {
  padding-bottom: 183.33333%; }

.ratio-wrapper-11-7 {
  padding-bottom: 157.14286%; }

.ratio-wrapper-11-8 {
  padding-bottom: 137.5%; }

.ratio-wrapper-11-9 {
  padding-bottom: 122.22222%; }

.ratio-wrapper-11-10 {
  padding-bottom: 110%; }

.ratio-wrapper-11-11 {
  padding-bottom: 100%; }

.ratio-wrapper-11-12 {
  padding-bottom: 109.09091%; }

.ratio-wrapper-11-13 {
  padding-bottom: 118.18182%; }

.ratio-wrapper-11-14 {
  padding-bottom: 127.27273%; }

.ratio-wrapper-11-15 {
  padding-bottom: 136.36364%; }

.ratio-wrapper-12-1 {
  padding-bottom: 1200%; }

.ratio-wrapper-12-2 {
  padding-bottom: 600%; }

.ratio-wrapper-12-3 {
  padding-bottom: 400%; }

.ratio-wrapper-12-4 {
  padding-bottom: 300%; }

.ratio-wrapper-12-5 {
  padding-bottom: 240%; }

.ratio-wrapper-12-6 {
  padding-bottom: 200%; }

.ratio-wrapper-12-7 {
  padding-bottom: 171.42857%; }

.ratio-wrapper-12-8 {
  padding-bottom: 150%; }

.ratio-wrapper-12-9 {
  padding-bottom: 133.33333%; }

.ratio-wrapper-12-10 {
  padding-bottom: 120%; }

.ratio-wrapper-12-11 {
  padding-bottom: 109.09091%; }

.ratio-wrapper-12-12 {
  padding-bottom: 100%; }

.ratio-wrapper-12-13 {
  padding-bottom: 108.33333%; }

.ratio-wrapper-12-14 {
  padding-bottom: 116.66667%; }

.ratio-wrapper-12-15 {
  padding-bottom: 125%; }

.ratio-wrapper-13-1 {
  padding-bottom: 1300%; }

.ratio-wrapper-13-2 {
  padding-bottom: 650%; }

.ratio-wrapper-13-3 {
  padding-bottom: 433.33333%; }

.ratio-wrapper-13-4 {
  padding-bottom: 325%; }

.ratio-wrapper-13-5 {
  padding-bottom: 260%; }

.ratio-wrapper-13-6 {
  padding-bottom: 216.66667%; }

.ratio-wrapper-13-7 {
  padding-bottom: 185.71429%; }

.ratio-wrapper-13-8 {
  padding-bottom: 162.5%; }

.ratio-wrapper-13-9 {
  padding-bottom: 144.44444%; }

.ratio-wrapper-13-10 {
  padding-bottom: 130%; }

.ratio-wrapper-13-11 {
  padding-bottom: 118.18182%; }

.ratio-wrapper-13-12 {
  padding-bottom: 108.33333%; }

.ratio-wrapper-13-13 {
  padding-bottom: 100%; }

.ratio-wrapper-13-14 {
  padding-bottom: 107.69231%; }

.ratio-wrapper-13-15 {
  padding-bottom: 115.38462%; }

.ratio-wrapper-14-1 {
  padding-bottom: 1400%; }

.ratio-wrapper-14-2 {
  padding-bottom: 700%; }

.ratio-wrapper-14-3 {
  padding-bottom: 466.66667%; }

.ratio-wrapper-14-4 {
  padding-bottom: 350%; }

.ratio-wrapper-14-5 {
  padding-bottom: 280%; }

.ratio-wrapper-14-6 {
  padding-bottom: 233.33333%; }

.ratio-wrapper-14-7 {
  padding-bottom: 200%; }

.ratio-wrapper-14-8 {
  padding-bottom: 175%; }

.ratio-wrapper-14-9 {
  padding-bottom: 155.55556%; }

.ratio-wrapper-14-10 {
  padding-bottom: 140%; }

.ratio-wrapper-14-11 {
  padding-bottom: 127.27273%; }

.ratio-wrapper-14-12 {
  padding-bottom: 116.66667%; }

.ratio-wrapper-14-13 {
  padding-bottom: 107.69231%; }

.ratio-wrapper-14-14 {
  padding-bottom: 100%; }

.ratio-wrapper-14-15 {
  padding-bottom: 107.14286%; }

.ratio-wrapper-15-1 {
  padding-bottom: 1500%; }

.ratio-wrapper-15-2 {
  padding-bottom: 750%; }

.ratio-wrapper-15-3 {
  padding-bottom: 500%; }

.ratio-wrapper-15-4 {
  padding-bottom: 375%; }

.ratio-wrapper-15-5 {
  padding-bottom: 300%; }

.ratio-wrapper-15-6 {
  padding-bottom: 250%; }

.ratio-wrapper-15-7 {
  padding-bottom: 214.28571%; }

.ratio-wrapper-15-8 {
  padding-bottom: 187.5%; }

.ratio-wrapper-15-9 {
  padding-bottom: 166.66667%; }

.ratio-wrapper-15-10 {
  padding-bottom: 150%; }

.ratio-wrapper-15-11 {
  padding-bottom: 136.36364%; }

.ratio-wrapper-15-12 {
  padding-bottom: 125%; }

.ratio-wrapper-15-13 {
  padding-bottom: 115.38462%; }

.ratio-wrapper-15-14 {
  padding-bottom: 107.14286%; }

.ratio-wrapper-15-15 {
  padding-bottom: 100%; }

/*
@each $size in $grids-available {
	@include ab-gridX($size);
}

/*
.ratio-wrapper-1-1  { padding-bottom: 100%; }
.ratio-wrapper-10-9 { padding-bottom: 90%; }
.ratio-wrapper-5-4  { padding-bottom: 80%; }
.ratio-wrapper-4-3  { padding-bottom: 75%; }
.ratio-wrapper-3-2  { padding-bottom: 66.66%; }
.ratio-wrapper-8-5  { padding-bottom: 62.5%; }
.ratio-wrapper-16-9 { padding-bottom: 56.25%; }
.ratio-wrapper-2-1  { padding-bottom: 50%; }
.ratio-wrapper-3-1  { padding-bottom: 33%; }
.ratio-wrapper-7-2  { padding-bottom: 28.5%; }
.ratio-wrapper-4-1  { padding-bottom: 25%; }
.ratio-wrapper-5-1  { padding-bottom: 20%; }

.ratio-wrapper-3-4  { padding-bottom: 133%; }
.ratio-wrapper-5-8  { padding-bottom: 160%; }
.ratio-wrapper-9-16 { padding-bottom: 177%; }
.ratio-wrapper-1-2  { padding-bottom: 200%; }
*/

/*# sourceMappingURL=ratios.css.map */
