/**
 * Thomas Simpson
 * This is totally free software. Have fun.
 * 
 * Produces ratio-based css classes that can be used to get fixed sizes.
 */


.ratio-wrapper-inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.footer { 
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
}


@mixin ratio($wide, $high){
	.ratio-wrapper-#{$wide}-#{$high}  { 
		width: 100%;
		position: relative;
		@if $high == $wide { padding-bottom: 100%; } 
		@if $wide > $high { padding-bottom: $high / $wide * 100%; } // landscape
		@if $high > $wide { padding-bottom: $high / $wide * 100%; } // portrait
	}
}

$maxsize: 16;

//@each $wide in 
@for $wide from 1 to $maxsize {
	@for $high from 1 to $maxsize {
		@include ratio($wide, $high);
	}
}

